
a {
	color: inherit;
	text-decoration: none;
}

.clear {
    clear: both;
}

.img-scaled {
    width: 100%;
    height: 100%;
}

.img-scaled-wh {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	background: #edeae5;
}

.background {
    background: url('background.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.background-lay{
    height: 100%;
    width: 100%;
    position: absolute;
}

#backdrop {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kyoto {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.kyoto-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
}

#kyoto-back {
    width: 100%;
    height: 100%
    object-fit: cover;
}

.london {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.london-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
}

#london-back {
    width: 100%;
    height: 100%
    object-fit: cover;
}

.sidebar-container {
    position: fixed;
    width: 280px;
    height: 100%;
    background-color: darkgrey;
    opacity: 0.9;
    -webkit-transform: translateX(-280px);
    -webkit-transition: all 0.4s;
}

.page-wrapper {
    height: 100%;
    width: 100%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.sidebar-things {
    font-weight: 700px;
    font-size: 16px;
    color: whitesmoke;
    padding: 15px 20px 15px 20px;
}

.sidebar-active {
    transform: translateX(0);
}

#nav-toggle { 
    position: absolute; 
    right: 50%; top: 10%; 
}

#nav-toggle {
    padding: 10px 30px 15px 0px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    height: 3px;
    width: 30px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
}

#nav-toggle span:before {
    top: -10px; 
}

#nav-toggle span:after {
    bottom: -10px;
}

#sidebar-button {
    position: fixed;
    z-index: 100;
    left: 50px;
    top: 15px;
    cursor: pointer;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
} 

.home {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 50px 10px 50px;
    text-align: center;
}

.japan {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 50px 10px 50px;
    text-align: center;
}

.europe {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 50px 10px 50px;
    text-align: center;
}

.wrapper-active, .button-active {
    -webkit-transform: translateX(280px);
    -moz-transform: translateX(280px);
    transform: translateX(280px);
}

.sidebar-active {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
}

#hero {
    position: absolute;
    color: white;
    bottom: 250px;
    right: 250px;
    text-align: left;
}

#heading {
    font-size: 78px;
    font-weight: 800;
    color: whitesmoke;
}

#subheading {
    font-size: 28px;
    font-weight: 500;
    color: whitesmoke;
}

#button {
    background: darkgrey;
    float: right;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
}

#special {
    position: absolute;
    color: whitesmoke;
    bottom: 250px;
    right: 250px;
    text-align: center;
}

#title{
    font-size: 78px;
    font-weight: 800;
    color: whitesmoke;
}

#damn{
    position: absolute;
    color: whitesmoke;
    bottom: 250px;
    right: 250px;
    text-align: center;
}

#head{
    font-size: 78px;
    font-weight: 800;
    color: whitesmoke;
}
#about-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

#about-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#about-box {
    position: absolute;
    width: 700px;
    height: 360px;
    background: darkgrey;
    opacity: 0.9;
    border-radius: 150px;
    z-index: 100;
    top: calc(20%);
    bottom: calc(25%);
    left: calc(25%);
    right: calc(25%);
}
.context{
    font-size: 32px;
    color: whitesmoke;
    padding: 20px 20px;
    text-align: center;

}

.about {
    font-size: 56px; 
    color: whitesmoke;
    padding: 10px 10px;
    text-align: center;
}

.shibuya {
    width: 100%;
    height: 750px;
    position: relative;
}

.shibuya-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
}

#shibuya-back {
    width: 100%;
    height: 100%
    object-fit: cover;
}

.text {
    font-size: 42px;
    font-weight: 800;
    color: white;
    position: absolute;
    font-weight: 700;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#shibuya-text{

}

.osaka {
    width: 100%;
    height: 750px;
    position: relative;
}

.osaka-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
}

#osaka-back {
    width: 100%;
    height: 100%
    object-fit: cover;
}

#osaka-text {

}

.food {
    width: 100%;
    height: 750px;
    position: relative;
}

.food-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
}

#food-back {
    width: 100%;
    height: 100%
    object-fit: cover;
}

#food-text {

}

.pyramid {
    width: 100%;
    height: 750px;
    position: relative;
}

.pyramid-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
}

#pyramid-back {
    width: 100%;
    height: 100%
    object-fit: cover;
}

#pyramid-text {
    background-color: darkgrey;
    opacity: 0.7;
}

.art {
    width: 100%;
    height: 750px;
    position: relative;
}

.art-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
}

#art-back {
    width: 100%;
    height: 100%
    object-fit: cover;
}

.greece {
    width: 100%;
    height: 750px;
    position: relative;
}

.greece-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
}

#greece-back {
    width: 100%;
    height: 100%
    object-fit: cover;
}

#greece-text {
    background-color: darkgrey ;
    opacity: 0.7;
}